<div template class="carousel-item">
  <table class="table table-sm table-striped">
    <tbody>
      <tr>
        <th>Balance</th>
        <td value="balance"></td>
      </tr>
      <!-- <tr>
        <th>Central Index Key</th>
        <td value="dei:EntityCentralIndexKey"></td>
      </tr>
      <tr>
        <th>Document Type</th>
        <td value="dei:DocumentType"></td>
      </tr>
      <tr>
        <th>Period End Date</th>
        <td value="dei:DocumentPeriodEndDate"></td>
      </tr>
      <tr>
        <th>Fiscal Year / Period Focus</th>
        <td value="dei:DocumentFiscalYearFocus"></td>
      </tr>
      <tr>
        <th>Current Fiscal Year End</th>
        <td value="dei:CurrentFiscalYearEndDate"></td>
      </tr>
      <tr>
        <th>Amendment / Description</th>
        <td value="dei:AmendmentFlag"></td>
      </tr> -->
    </tbody>
  </table>
</div>
