<div template class="carousel-item active">
  <table class="table table-sm table-striped">
    <tbody>
      <tr>
        <th>Tag</th>
        <td value="tag"></td>
      </tr>
      <tr>
        <th>Fact</th>
        <td value="value"></td>
      </tr>
      <tr>
        <th>Fact Language</th>
        <td value="language"></td>
      </tr>
      <tr>
        <th>Period</th>
        <td value="period"></td>
      </tr>
      <tr>
        <th>Axis</th>
        <td value="axes"></td>
      </tr>
      <tr>
        <th>Member</th>
        <td value="members"></td>
      </tr>
      <tr>
        <th>Typed Member</th>
        <td value="typedMember"></td>
      </tr>
      <tr>
        <th>Explicit Member</th>
        <td value="explicitMember"></td>
      </tr>
      <tr>
        <th>Measure</th>
        <td value="measure"></td>
      </tr>
      <tr>
        <th>Scale</th>
        <td value="scale"></td>
      </tr>
      <tr>
        <th>Decimals</th>
        <td value="decimals"></td>
      </tr>
      <tr>
        <th>Balance</th>
        <td value="balance"></td>
      </tr>
      <tr>
        <th>Sign</th>
        <td value="sign"></td>
      </tr>
      <tr>
        <th>Type</th>
        <td value="type"></td>
      </tr>
      <tr>
        <th>Format</th>
        <td value="format"></td>
      </tr>
      <tr>
        <th>Footnote</th>
        <td value="footnote"></td>
      </tr>
    </tbody>
  </table>
</div>
