<li template class="nav-item mx-1 fade">
  <a class="nav-link disabled" href="#" role="button" data-bs-toggle="dropdown">
    <i class="fas fa-link" title="Links"></i>
    <span>Links</span>
  </a>
  <ul class="dropdown-menu">
    <form>
      <fieldset class="mx-1">
        <li class="my-1">
          <div class="form-check">
            <input
              name="links-radios"
              class="form-check-input"
              type="radio"
              name="all"
              id="links-radio-0"
              value="0"
              checked
            />
            <label class="form-check-label" for="links-radio-0"> All </label>
          </div>
        </li>
      </fieldset>
    </form>
  </ul>
</li>
