<div template class="carousel-item">
  <table class="table table-striped table-sm">
    <tbody>
      <tr>
        <th>Inline Document</th>
        <td value="inlineDocument"></td>
      </tr>
      <tr>
        <th>Custom Taxonomy</th>
        <td></td>
      </tr>
      <tr>
        <th>Schema</th>
        <td value="schema"></td>
      </tr>
      <tr>
        <th>Label</th>
        <td value="label"></td>
      </tr>
      <tr>
        <th>Calculation</th>
        <td value="calculation"></td>
      </tr>
      <tr>
        <th>Presentation</th>
        <td value="presentation"></td>
      </tr>
      <tr>
        <th>Definition</th>
        <td value="definition"></td>
      </tr>
    </tbody>
  </table>
</div>