<div template class="carousel-item">
  <table class="table table-striped table-sm">
    <tbody>
      <tr>
        <th>Inline Document</th>
        <td>we have this...</td>
      </tr>
      <tr>
        <th>Custom Taxonomy</th>
        <td></td>
      </tr>
      <tr>
        <th>Schema</th>
        <td></td>
      </tr>
      <tr>
        <th>Label</th>
        <td></td>
      </tr>
      <tr>
        <th>Calculation</th>
        <td></td>
      </tr>
      <tr>
        <th>Presentation</th>
        <td></td>
      </tr>
      <tr>
        <th>Definition</th>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
