<div template class="carousel-item">
  <table class="table table-sm table-striped table-bordered">
    <tbody>
      <tr colspan="8">
        <th colspan="2">Total Facts</th>
        <td value="totalFacts" colspan="2"></td>
        <th colspan="2">Inline Version</th>
        <td value="version" colspan="2"></td>
      </tr>
      <tr colspan="8">
        <th colspan="2">Tags</th>
        <th colspan="2">Standard</th>
        <th colspan="2">Custom</th>
        <th colspan="2">Total</th>
      </tr>
      <tr colspan="8">
        <th colspan="2">Primary</th>
        <td value="primary.standard" colspan="1"></td>
        <td value="primary.standardPerc" colspan="1"></td>
        <td value="primary.custom" colspan="1"></td>
        <td value="primary.customPerc" colspan="1"></td>
        <td value="primary.total" colspan="1"></td>
      </tr>
      <tr colspan="8">
        <th colspan="2">Axis</th>
        <td value="axis.standard" colspan="1"></td>
        <td value="axis.standardPerc" colspan="1"></td>
        <td value="axis.custom" colspan="1"></td>
        <td value="axis.customPerc" colspan="1"></td>
        <td value="axis.total" colspan="1"></td>
      </tr>
      <tr colspan="8">
        <th colspan="2">Member</th>
        <td value="member.standard" colspan="1"></td>
        <td value="member.standardPerc" colspan="1"></td>
        <td value="member.custom" colspan="1"></td>
        <td value="member.customPerc" colspan="1"></td>
        <td value="member.total" colspan="1"></td>
      </tr>
      <tr colspan="8">
        <th colspan="2">Total</th>
        <td value="total.standard" colspan="1"></td>
        <td value="total.standardPerc" colspan="1"></td>
        <td value="total.custom" colspan="1"></td>
        <td value="total.customPerc" colspan="1"></td>
        <td value="total.total" colspan="1"></td>
      </tr>
    </tbody>
  </table>
</div>