<div template>
  <section id="dev-navbar-container">
    <sec-dev-navbar></sec-dev-navbar>
  </section>

  <section id="navbar-container">
    <sec-navbar></sec-navbar>
  </section>

  <section id="error-container"></section>

  <section id="warning-container"></section>

  <section id="sections-menu-container">
    <sec-sections-menu></sec-sections-menu>
  </section>

  <section id="help-menu-container">
    <sec-help-menu></sec-help-menu>
  </section>

  <section id="facts-menu-container">
    <sec-facts-menu></sec-facts-menu>
  </section>

  <section id="filing-container">
    <sec-filing class="content-visibility"></sec-filing>
  </section>

  <section id="modal-container">
  </section>
</div>