<div template>
  <form class="d-flex" id="sections-search" autocomplete="off">
    <fieldset class="w-100 px-1">
      <div class="input-group dropdown">
        <button class="btn btn-sec" id="sections-dropdown" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fas fa-cog"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="sections-dropdown">
          <fieldset class="px-1">
            <li>
              <div class="form-check">
                <input checked name="sections-checks" class="form-check-input" type="checkbox" value="0"
                  id="sections-check-0" />
                <label class="form-check-label" for="sections-check-0">
                  Include Short Name
                </label>
              </div>
            </li>
            <li>
              <div class="form-check">
                <input name="sections-checks" class="form-check-input" type="checkbox" value="1"
                  id="sections-check-1" />
                <label class="form-check-label" for="sections-check-1">
                  Include Long Name
                </label>
              </div>
            </li>
            <li>
              <div class="form-check">
                <input name="sections-checks" class="form-check-input" type="checkbox" value="2"
                  id="sections-check-2" />
                <label class="form-check-label" for="sections-check-2">
                  Include Report File
                </label>
              </div>
            </li>
            <div class="d-none bg-light border p-1">
              <span class="dropdown-item-text">Filing Options</span>
              <li>
                <div class="form-check">
                  <input checked name="sections-radios" class="form-check-input" type="radio" value="3"
                    id="sections-radio-3" />
                  <label class="form-check-label" for="sections-radio-3">
                    Search in All
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input name="sections-radios" class="form-check-input" type="radio" value="4" id="sections-radio-4" />
                  <label class="form-check-label" for="sections-radio-4">
                    Search in Internal Sections Only
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input name="sections-radios" class="form-check-input" type="radio" value="5" id="sections-radio-5" />
                  <label class="form-check-label" for="sections-radio-5">
                    Search in External Sections Only
                  </label>
                </div>
              </li>
            </div>
            <li>
              <div class="form-check">
                <input name="sections-checks" class="form-check-input" type="checkbox" value="6"
                  id="sections-check-6" />
                <label class="form-check-label" for="sections-check-6">
                  Match Case
                </label>
              </div>
            </li>
          </fieldset>
        </ul>
        <input type="text" class="form-control" name="sections-input" placeholder="Search Sections"
          aria-label="Example text with button addon" aria-describedby="button-addon1" tabindex="-1" />
        <button class="btn btn-sec" type="reset" name="clear-button" tabindex="-1">
          <i class="fas fa-times-circle"></i>
        </button>
        <button class="btn btn-sec" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </fieldset>
  </form>
  <hr />
  <div class="accordion accordion-flush" id="sections-menu-accordion">
    <sec-sections-menu-single></sec-sections-menu-single>
  </div>
</div>