<nav template class="navbar navbar-expand-lg fixed-top navbar-sec">
  <div class="container-fluid">
    <ul class="navbar-nav mr-auto">
      <!-- Menu -->
      <sec-menu class="btn-group dropdown"></sec-menu>
      <!-- Sections -->
      <li class="nav-item mx-1">
        <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#sections-offcanvas" aria-controls="sections">
          <i class="fas fa-layer-group" title="Sections"></i>
          <span>Sections</span>
        </a>
      </li>
      <!-- Search -->
      <sec-search class="nav-item mx-1"></sec-search>
      <li class="nav-item mx-1" template-search></li>
      <!-- Data -->
      <sec-data class="btn-group dropdown"></sec-data>
      <!-- Tags -->
      <div class="btn-group dropdown" template-tags></div>
      <!-- More Filters -->
      <div class="btn-group dropdown" template-more-filters></div>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#facts-offcanvas" aria-controls="facts">
          <span>Facts</span>
          <span id="active-fact-count" class="badge bg-secondary">####</span>
        </a>
      </li>
    </ul>
  </div>
  </ul>
  </div>
</nav>