<nav template class="navbar navbar-expand-lg fixed-top navbar-sec">
  <div class="container-fluid">
    <ul class="navbar-nav mr-auto">
      <!-- Menu -->
      <sec-menu class="btn-group dropdown"></sec-menu>
      <!-- Sections -->
      <sec-sections class="nav-item mx-1"></sec-sections>
      <!-- Search -->
      <sec-search class="nav-item mx-1"></sec-search>
      <!-- Data -->
      <sec-data class="btn-group dropdown"></sec-data>
      <!-- Tags -->
      <sec-tags class="btn-group dropdown"></sec-tags>
      <!-- More Filters -->
      <sec-more-filters class="btn-group dropdown"></sec-more-filters>
      <!-- Reset All Filters-->
      <sec-reset-all-filters class="d-none"></sec-reset-all-filters>
      <!-- Links-->
      <sec-links class="d-none btn-group dropdown"></sec-links>
    </ul>
    <ul class="navbar-nav mr-auto">
      <!-- Facts -->
      <sec-facts class="nav-item"></sec-facts>
    </ul>
  </div>
  </ul>
  </div>
</nav>