<li template class="nav-item mx-1">
  <a class="nav-link " data-bs-toggle="offcanvas" data-bs-target="#sections-offcanvas" aria-controls="sections">
    <i class="fas fa-layer-group" title="Sections"></i>
    <span>Sections</span>
  </a>
</li>
<!-- <div clasvs="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
  id="sections-offcanvas" aria-labelledby="sections-offcanvas-label">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sections-offcanvas-label">
      Tagged Sections
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>

</div> -->