<div template>
  <div class="accordion accordion-flush" id="sections-menu-accordion">
    <!-- Periods -->
    <div class="accordion-item">
      <a
        class="border border-bottom-0 rounded-0 btn btn-link d-flex justify-content-between align-items-center w-100 text-primary collapsed no-text-decoration"
        data-bs-toggle="collapse"
        data-bs-target="#more-filters-accordion-0"
        aria-expanded="false"
        aria-controls="more-filters-accordion-0"
      >
        <span>Periods</span>
        <span class="badge bg-secondary"> 8 </span>
      </a>

      <div
        id="more-filters-accordion-0"
        class="accordion-collapse collapse"
        data-bs-parent="#more-filters-accordion"
      >
        <div class="p-1">
          <fieldset class="px-1 more-filters-options" period-options="">
            <div class="d-flex justify-content-start">
              <input
                name="periods-year-options"
                type="checkbox"
                value="periods-accordion-0"
                id="periods-year-options-0"
                class="form-check-input me-1"
              /><a
                class="btn btn-link d-flex justify-content-between align-items-center w-100 text-primary collapsed no-text-decoration p-0"
                data-bs-toggle="collapse"
                data-bs-target="#periods-accordion-0"
                aria-expanded="false"
                aria-controls="periods-accordion-0"
                ><span>2021</span><span class="badge bg-secondary">3</span></a
              >
            </div>
            <div
              class="accordion-collapse collapse"
              id="periods-accordion-0"
              data-bs-parent="#periods-accordion-0"
            >
              <div class="p-1">
                <fieldset
                  class="px-1 more-filters-options"
                  period-options=""
                  value="2021"
                >
                  <div class="w-100 d-flex justify-content-start">
                    <input
                      name="periods-options"
                      type="checkbox"
                      value="As of 01/01/2021"
                      id="periods-checkbox-0"
                      class="form-check-input me-1"
                    /><label
                      for="periods-checkbox-0"
                      class="form-check-label text-capitalize text-break w-100"
                      >As of 01/01/2021</label
                    >
                  </div>
                  <div class="w-100 d-flex justify-content-start">
                    <input
                      name="periods-options"
                      type="checkbox"
                      value="As of 07/01/2021"
                      id="periods-checkbox-0"
                      class="form-check-input me-1"
                    /><label
                      for="periods-checkbox-0"
                      class="form-check-label text-capitalize text-break w-100"
                      >As of 07/01/2021</label
                    >
                  </div>
                  <div class="w-100 d-flex justify-content-start">
                    <input
                      name="periods-options"
                      type="checkbox"
                      value="As of 07/29/2021"
                      id="periods-checkbox-0"
                      class="form-check-input me-1"
                    /><label
                      for="periods-checkbox-0"
                      class="form-check-label text-capitalize text-break w-100"
                      >As of 07/29/2021</label
                    >
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <input
                name="periods-year-options"
                type="checkbox"
                value="periods-accordion-1"
                id="periods-year-options-1"
                class="form-check-input me-1"
              /><a
                class="btn btn-link d-flex justify-content-between align-items-center w-100 text-primary collapsed no-text-decoration p-0"
                data-bs-toggle="collapse"
                data-bs-target="#periods-accordion-1"
                aria-expanded="false"
                aria-controls="periods-accordion-1"
                ><span>2020</span><span class="badge bg-secondary">2</span></a
              >
            </div>
            <div
              class="accordion-collapse collapse"
              id="periods-accordion-1"
              data-bs-parent="#periods-accordion-1"
            >
              <div class="p-1">
                <fieldset
                  class="px-1 more-filters-options"
                  period-options=""
                  value="2020"
                >
                  <div class="w-100 d-flex justify-content-start">
                    <input
                      name="periods-options"
                      type="checkbox"
                      value="12 months ending 07/01/2020"
                      id="periods-checkbox-1"
                      class="form-check-input me-1"
                    /><label
                      for="periods-checkbox-1"
                      class="form-check-label text-capitalize text-break w-100"
                      >12 months ending 07/01/2020</label
                    >
                  </div>
                  <div class="w-100 d-flex justify-content-start">
                    <input
                      name="periods-options"
                      type="checkbox"
                      value="As of 07/01/2020"
                      id="periods-checkbox-1"
                      class="form-check-input me-1"
                    /><label
                      for="periods-checkbox-1"
                      class="form-check-label text-capitalize text-break w-100"
                      >As of 07/01/2020</label
                    >
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <input
                name="periods-year-options"
                type="checkbox"
                value="periods-accordion-2"
                id="periods-year-options-2"
                class="form-check-input me-1"
              /><a
                class="btn btn-link d-flex justify-content-between align-items-center w-100 text-primary collapsed no-text-decoration p-0"
                data-bs-toggle="collapse"
                data-bs-target="#periods-accordion-2"
                aria-expanded="false"
                aria-controls="periods-accordion-2"
                ><span>2019</span><span class="badge bg-secondary">1</span></a
              >
            </div>
            <div
              class="accordion-collapse collapse"
              id="periods-accordion-2"
              data-bs-parent="#periods-accordion-2"
            >
              <div class="p-1">
                <fieldset
                  class="px-1 more-filters-options"
                  period-options=""
                  value="2019"
                >
                  <div class="w-100 d-flex justify-content-start">
                    <input
                      name="periods-options"
                      type="checkbox"
                      value="12 months ending 07/01/2019"
                      id="periods-checkbox-2"
                      class="form-check-input me-1"
                    /><label
                      for="periods-checkbox-2"
                      class="form-check-label text-capitalize text-break w-100"
                      >12 months ending 07/01/2019</label
                    >
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <input
                name="periods-year-options"
                type="checkbox"
                value="periods-accordion-3"
                id="periods-year-options-3"
                class="form-check-input me-1"
              /><a
                class="btn btn-link d-flex justify-content-between align-items-center w-100 text-primary collapsed no-text-decoration p-0"
                data-bs-toggle="collapse"
                data-bs-target="#periods-accordion-3"
                aria-expanded="false"
                aria-controls="periods-accordion-3"
                ><span>2018</span><span class="badge bg-secondary">1</span></a
              >
            </div>
            <div
              class="accordion-collapse collapse"
              id="periods-accordion-3"
              data-bs-parent="#periods-accordion-3"
            >
              <div class="p-1">
                <fieldset
                  class="px-1 more-filters-options"
                  period-options=""
                  value="2018"
                >
                  <div class="w-100 d-flex justify-content-start">
                    <input
                      name="periods-options"
                      type="checkbox"
                      value="12 months ending 07/01/2018"
                      id="periods-checkbox-3"
                      class="form-check-input me-1"
                    /><label
                      for="periods-checkbox-3"
                      class="form-check-label text-capitalize text-break w-100"
                      >12 months ending 07/01/2018</label
                    >
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <input
                name="periods-year-options"
                type="checkbox"
                value="periods-accordion-4"
                id="periods-year-options-4"
                class="form-check-input me-1"
              /><a
                class="btn btn-link d-flex justify-content-between align-items-center w-100 text-primary collapsed no-text-decoration p-0"
                data-bs-toggle="collapse"
                data-bs-target="#periods-accordion-4"
                aria-expanded="false"
                aria-controls="periods-accordion-4"
                ><span>2017</span><span class="badge bg-secondary">1</span></a
              >
            </div>
            <div
              class="accordion-collapse collapse"
              id="periods-accordion-4"
              data-bs-parent="#periods-accordion-4"
            >
              <div class="p-1">
                <fieldset
                  class="px-1 more-filters-options"
                  period-options=""
                  value="2017"
                >
                  <div class="w-100 d-flex justify-content-start">
                    <input
                      name="periods-options"
                      type="checkbox"
                      value="12 months ending 07/01/2017"
                      id="periods-checkbox-4"
                      class="form-check-input me-1"
                    /><label
                      for="periods-checkbox-4"
                      class="form-check-label text-capitalize text-break w-100"
                      >12 months ending 07/01/2017</label
                    >
                  </div>
                </fieldset>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <!-- Measures -->
    <!-- <div class="accordion-item">
      <a
        class="btn btn-link d-flex justify-content-between align-items-center w-100 text-primary collapsed no-text-decoration"
        data-bs-toggle="collapse"
        data-bs-target="#more-filters-accordion-1"
        aria-expanded="false"
        aria-controls="more-filters-accordion-1"
      >
        <span>Measures</span>
        <span class="badge bg-secondary" measures-count></span>
      </a>

      <div
        id="more-filters-accordion-1"
        class="accordion-collapse collapse"
        data-bs-parent="#more-filters-accordion"
      >
        <div class="accordion-body">Measures!</div>
      </div>
    </div> -->
    <!-- Axis -->
    <div class="accordion-item">
      <a
        class="border border-bottom-0 rounded-0 btn btn-link d-flex justify-content-between align-items-center w-100 text-primary collapsed no-text-decoration"
        data-bs-toggle="collapse"
        data-bs-target="#more-filters-accordion-2"
        aria-expanded="false"
        aria-controls="more-filters-accordion-2"
      >
        <span>Axis</span>
        <span class="badge bg-secondary" axis-count=""> 4 </span>
      </a>

      <div
        id="more-filters-accordion-2"
        class="accordion-collapse collapse"
        data-bs-parent="#more-filters-accordion"
      >
        <div class="p-1">
          <fieldset class="px-1 more-filters-options" axis-options="">
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="axis-options"
                  type="checkbox"
                  value="srt:MajorCustomersAxis"
                  id="axis-checkbox-0"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="axis-checkbox-0"
                  >Major Customers Axis</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="axis-options"
                  type="checkbox"
                  value="srt:ProductOrServiceAxis"
                  id="axis-checkbox-1"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="axis-checkbox-1"
                  >Product Or Service Axis</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="axis-options"
                  type="checkbox"
                  value="us-gaap:ConcentrationRiskByBenchmarkAxis"
                  id="axis-checkbox-2"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="axis-checkbox-2"
                  >Concentration Risk By Benchmark Axis</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="axis-options"
                  type="checkbox"
                  value="us-gaap:ConcentrationRiskByTypeAxis"
                  id="axis-checkbox-3"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="axis-checkbox-3"
                  >Concentration Risk By Type Axis</label
                >
              </div>
            </li>
          </fieldset>
        </div>
      </div>
    </div>
    <!-- Members -->
    <div class="accordion-item">
      <a
        class="border border-bottom-0 rounded-0 btn btn-link d-flex justify-content-between align-items-center w-100 text-primary collapsed no-text-decoration"
        data-bs-toggle="collapse"
        data-bs-target="#more-filters-accordion-3"
        aria-expanded="false"
        aria-controls="more-filters-accordion-3"
      >
        <span>Members</span>
        <span class="badge bg-secondary" members-count=""> 7 </span>
      </a>

      <div
        id="more-filters-accordion-3"
        class="accordion-collapse collapse"
        data-bs-parent="#more-filters-accordion"
      >
        <div class="p-1">
          <fieldset class="px-1 more-filters-options" members-options="">
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="members-options"
                  type="checkbox"
                  value="clx:BagsAndWrapsMember"
                  id="members-checkbox-0"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="members-checkbox-0"
                  >Bags And Wraps Member</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="members-options"
                  type="checkbox"
                  value="clx:CleaningMember"
                  id="members-checkbox-1"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="members-checkbox-1"
                  >Cleaning Member</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="members-options"
                  type="checkbox"
                  value="clx:FoodProductsMember"
                  id="members-checkbox-2"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="members-checkbox-2"
                  >Food Products Member</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="members-options"
                  type="checkbox"
                  value="clx:WalmartStoresIncMember"
                  id="members-checkbox-3"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="members-checkbox-3"
                  >Walmart Stores Inc Member</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="members-options"
                  type="checkbox"
                  value="us-gaap:CustomerConcentrationRiskMember"
                  id="members-checkbox-4"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="members-checkbox-4"
                  >Customer Concentration Risk Member</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="members-options"
                  type="checkbox"
                  value="us-gaap:ProductConcentrationRiskMember"
                  id="members-checkbox-5"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="members-checkbox-5"
                  >Product Concentration Risk Member</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="members-options"
                  type="checkbox"
                  value="us-gaap:RevenueFromContractWithCustomerMember"
                  id="members-checkbox-6"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="members-checkbox-6"
                  >Revenue From Contract With Customer Member</label
                >
              </div>
            </li>
          </fieldset>
        </div>
      </div>
    </div>
    <!-- Scale -->
    <div class="accordion-item">
      <a
        class="border border-bottom-0 rounded-0 btn btn-link d-flex justify-content-between align-items-center w-100 text-primary collapsed no-text-decoration"
        data-bs-toggle="collapse"
        data-bs-target="#more-filters-accordion-4"
        aria-expanded="false"
        aria-controls="more-filters-accordion-4"
      >
        <span>Scale</span>
        <span class="badge bg-secondary" scale-count=""> 4 </span>
      </a>

      <div
        id="more-filters-accordion-4"
        class="accordion-collapse collapse"
        data-bs-parent="#more-filters-accordion"
      >
        <div class="p-1">
          <fieldset class="px-1 more-filters-options" scale-options="">
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="scale-options"
                  type="checkbox"
                  value="9"
                  id="scale-checkbox-0"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="scale-checkbox-0"
                  >Billions</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="scale-options"
                  type="checkbox"
                  value="6"
                  id="scale-checkbox-1"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="scale-checkbox-1"
                  >Millions</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="scale-options"
                  type="checkbox"
                  value="0"
                  id="scale-checkbox-2"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="scale-checkbox-2"
                  >Zero</label
                >
              </div>
            </li>
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="scale-options"
                  type="checkbox"
                  value="-2"
                  id="scale-checkbox-3"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="scale-checkbox-3"
                  >Hundredths</label
                >
              </div>
            </li>
          </fieldset>
        </div>
      </div>
    </div>
    <!-- Balance -->
    <div class="accordion-item">
      <a
        class="border rounded-0 btn btn-link d-flex justify-content-between align-items-center w-100 text-primary collapsed no-text-decoration"
        data-bs-toggle="collapse"
        data-bs-target="#more-filters-accordion-5"
        aria-expanded="false"
        aria-controls="more-filters-accordion-5"
      >
        <span>Balance</span>
        <span class="badge bg-secondary" balance-count=""> 1 </span>
      </a>

      <div
        id="more-filters-accordion-5"
        class="accordion-collapse collapse"
        data-bs-parent="#more-filters-accordion"
      >
        <div class="p-1">
          <fieldset class="px-1 more-filters-options" balance-options="">
            <li>
              <div class="w-100 d-flex justify-content-start">
                <input
                  name="balance-options"
                  type="checkbox"
                  value="credit"
                  id="balance-checkbox-0"
                  class="form-check-input me-1"
                /><label
                  class="form-check-label text-capitalize text-break w-100"
                  for="balance-checkbox-0"
                  >credit</label
                >
              </div>
            </li>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
