<div
  template
  class="offcanvas offcanvas-end"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="facts-offcanvas"
  aria-labelledby="facts-offcanvas-label"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sections-offcanvas-label">Facts</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="alert alert-primary rounded-0 d-none" role="alert" multiple>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="seeAllFacts"
        checked
      />
      <label class="form-check-label" for="seeAllFacts">
        See All Facts
      </label>
    </div>
  </div>
  <div class="offcanvas-body"></div>
</div>
