<div template>
  <form id="facts-menu-pagination-form" class="pb-2">
    <nav class="d-flex justify-content-between" aria-label="Pagination">
      <ul class="pagination pagination-sm">
        <li prev-fact class="page-item">
          <a prev-fact class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">Prev</span>
          </a>
        </li>
        <li class="page-item">
          <a next-fact class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">Next<span>
          </a>
        </li>
      </ul>
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <a first-page class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">
              <i class="reboot fas fa-lg fa-angle-double-left"></i>
            </span>
          </a>
        </li>
        <li class="page-item">
          <a prev-page class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">
              <i class="reboot fas fa-lg fa-angle-left"></i>
            </span>
          </a>
        </li>
        <li class="page-item">
          <a next-page class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">
              <i class="reboot fas fa-lg fa-angle-right"></i>
            </span>
          </a>
        </li>
        <li class="page-item">
          <a last-page class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">
              <i class="reboot fas fa-lg fa-angle-double-right"></i>
            </span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="clear-both"></div>
    <select select-template class="form-select mt-2" aria-label="Page Selection"></select>
  </form>
  <sec-facts-menu-single></sec-facts-menu-single>
</div>