@import '~bootstrap';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts/';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

$navbar-height: 45px;
$sec-color: #003768;

body:nth-child(1) {
  overflow: auto !important;
  padding-right: 0 !important;
}

#filing-container > body {
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  color: unset;
  text-align: unset;
  background-color: unset;
  -webkit-text-size-adjust: unset;
  -webkit-tap-highlight-color: unset;
  --bs-font-sans-serif: unset;
  --bs-font-monospace: unset;
  --bs-gradient: unset;
  --bs-body-font-family: unset;
  --bs-body-font-size: unset;
  --bs-body-font-weight: unset;
  --bs-body-line-height: unset;
  --bs-body-color: unset;
  box-sizing: unset;
  > * {
    box-sizing: unset !important;
  }
}

[active-fact] {
  border-top: 2px red solid !important;
  border-bottom: 2px red solid !important;

  &:hover {
    background-color: rgba(255, 0, 0, 0.3) !important;
    cursor: pointer !important;
  }
}

[active-filtered-fact] {
  border-top: 2px green solid !important;
  border-bottom: 2px green solid !important;
  &:hover {
    background-color: rgba(255, 0, 0, 0.3) !important;
    cursor: pointer !important;
  }
}

[highlight-fact] {
  background-color: yellow !important;
  cursor: pointer !important;
}

.navbar-sec {
  height: $navbar-height;
  background-color: $sec-color;
  z-index: 2000;
}
.modal-header {
  background-color: $sec-color;
  color: $white;
}
.nav-link {
  color: $white;
  &:hover {
    color: $white;
    cursor: pointer !important;
    background: linear-gradient($white, $white) bottom 5px center/ 90% 1px
      no-repeat;
  }
  &:visited {
    color: $white;
  }
  &:focus {
    color: $white;
  }
}

#error-container {
  margin-top: $navbar-height;
  .alert {
    border-radius: 0;
  }
}

.offcanvas {
  top: $navbar-height;
}

.no-text-decoration {
  text-decoration: none;
}

.drag {
  cursor: move;
}

.click {
  cursor: pointer;
}

.single-fact-menu {
  text-decoration: none;
  color: $black;
  &:hover {
    border-color: $black !important;
    color: $black;
  }
  &.selected {
    border-color: $sec-color !important;
    border-width: 5px !important;
  }
}

#error-container .alert {
  margin-bottom: 0;
  margin-top: 0;
}
#warning-container .alert {
  margin-bottom: 0;
  margin-top: 0;
}

.nav-link.disabled,
#global-search fieldset:disabled .btn,
#global-search fieldset:disabled .form-control {
  border-color: #ff8300;
  color: #ff8300;
  opacity: 1;
}

.clear-both {
  clear: both;
}

.page-link {
  color: $black;
  border-radius: 0;
  border-color: $black;
  &:hover {
    color: $white;
    background-color: $black;
    border-color: $black;
  }
}

.fact-count {
  top: 10px;
  right: 0;
  font-size: 3rem;
  color: $gray-500;
}

.modal {
  top: 25%;
  left: 35vw;
  width: 30vw;
  height: 50vh;
}

.modal-actions {
  .btn {
    color: $white;
    margin: 0.25rem;
    padding: 0;
  }
}
#more-filters-accordion {
  width: 300px;
}
.more-filters-options {
  max-height: 150px;
  overflow: auto;
}
.content-visibility > * {
  content-visibility: auto;
}
